@font-face {
  font-family: 'im_fell_dw_picaregular';
  src: url('../fonts/imfepirm28p-webfont.eot');
  src: url('../fonts/imfepirm28p-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/imfepirm28p-webfont.woff2') format('woff2'),
       url('../fonts/imfepirm28p-webfont.woff') format('woff'),
       url('../fonts/imfepirm28p-webfont.ttf') format('truetype'),
       url('../fonts/imfepirm28p-webfont.svg#im_fell_dw_picaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'im_fell_dw_picaitalic';
  src: url('../fonts/imfepiit28p-webfont.eot');
  src: url('../fonts/imfepiit28p-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/imfepiit28p-webfont.woff2') format('woff2'),
       url('../fonts/imfepiit28p-webfont.woff') format('woff'),
       url('../fonts/imfepiit28p-webfont.ttf') format('truetype'),
       url('../fonts/imfepiit28p-webfont.svg#im_fell_dw_picaitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'volkhovregular';
  src: url('../fonts/volkhov-regular-webfont.eot');
  src: url('../fonts/volkhov-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/volkhov-regular-webfont.woff2') format('woff2'),
       url('../fonts/volkhov-regular-webfont.woff') format('woff'),
       url('../fonts/volkhov-regular-webfont.ttf') format('truetype'),
       url('../fonts/volkhov-regular-webfont.svg#volkhovregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'volkhovbold';
  src: url('../fonts/volkhov-bold-webfont.eot');
  src: url('../fonts/volkhov-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/volkhov-bold-webfont.woff2') format('woff2'),
       url('../fonts/volkhov-bold-webfont.woff') format('woff'),
       url('../fonts/volkhov-bold-webfont.ttf') format('truetype'),
       url('../fonts/volkhov-bold-webfont.svg#volkhovbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'volkhovitalic';
  src: url('../fonts/volkhov-italic-webfont.eot');
  src: url('../fonts/volkhov-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/volkhov-italic-webfont.woff2') format('woff2'),
       url('../fonts/volkhov-italic-webfont.woff') format('woff'),
       url('../fonts/volkhov-italic-webfont.ttf') format('truetype'),
       url('../fonts/volkhov-italic-webfont.svg#volkhovitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'volkhovbold_italic';
  src: url('../fonts/volkhov-bolditalic-webfont.eot');
  src: url('../fonts/volkhov-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/volkhov-bolditalic-webfont.woff2') format('woff2'),
       url('../fonts/volkhov-bolditalic-webfont.woff') format('woff'),
       url('../fonts/volkhov-bolditalic-webfont.ttf') format('truetype'),
       url('../fonts/volkhov-bolditalic-webfont.svg#volkhovbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}